{% extends 'base.html' %}

{% block title %}About Us{% endblock %}





{% block content %}
  <div class="container my-5">
    <h1>About Us</h1>
    <p>We are a team of fourth year students from Nitte Meenakshi Institute of Technology, Bengaluru pursuing Electronics and Communication Engineering. We are working on this final year major project on Market Basket Analysis under the guidance of Assistant Prof. Prajna K B.</p>
    <p>Our team members are:</p>
    <ul>
      <li>Abhishek K</li>
      <li>Ashwin A Shanbhag</li>
      <li>Ekshith Pujar</li>
      <li>B V Shashank</li>
    </ul>
  </div>


{% endblock %}