{% extends 'base.html' %}

{% block content %}
<br>

<body>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">
                        <h1 class="text-center mb-0">Select a file to proceed with analysis</h1>
                    </div>
                    <div class="card-body">
                        <ul class="list-group">
                            {% for file in files %}
                            <li class="list-group-item">{{ file.name }}
                                <a href="{{ url_for('results', filename=file.name+'.csv') }}">View Results</a> 
                                <p>{{ url_for('results', filename=file.name+'.csv') }}</p>
                                
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

{% endblock %}
